<head>
  <title>VibeCheck</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script rel="stylesheet" type="css" src="/public/css/style.css"></script>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
      margin-bottom: 12px
    }

    .w3-sidebar {
      width: 120px;
      background: #222;
    }

    #main {
      margin-left: 120px
    }
  </style>
</head>

<body class="w3-black">

  <!-- Icon Bar-->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>
    <a href="#profile" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>PROFILE</p>
    </a>
    <a href="#playlists" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-eye w3-xxlarge"></i>
      <p>PLAYLISTS</p>
    </a>
  </nav>

  <!-- Page Content -->
  <div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      {{#if logged_in}}
      <nav>
        <button class="btn" id="logout">logout</button>
      </nav>
      {{/if}}
      <h1 class="w3-jumbo">VibeCheck</h1>
      <h2 class="user">welcome {{{user.display_name}}}!</h2>
      <img
        src="https://images.pexels.com/photos/4200745/pexels-photo-4200745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="boy" class="w3-image" width="992" height="1108">
    </header>

    <!-- Main Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">What's the vibe?</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>pick a mood and our Spotify powered search engine will give you playlists matching the vibe!
      </p>

      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
      <button class="w3-button w3-light-grey w3-padding-large w3-section" style="margin-left: 15px">
        <i class="search"></i> search
      </button>
    </div>
  </div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>